<!DOCTYPE html>
<html lang="id">

<head {{ HEAD_ATTRS }}>
  {{ HEAD }}

  <link rel="icon" type="image/png" sizes="32x32" href="/star-logo-color-32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/star-logo-color-64.png">

  <style>
    /* THEME LIGHT -- start*/
    .light {
      --text-color: #071e3d;
      --text-surah-header-color: #071e3d;
      --link-color: #3ba7f0;
      --bg-color: #f6f7f8;
      --bg-card-color: #f6f7f8;
      --bg-card-darken-color: #c8cbcd;
      --bg-body-color: #ececec;
    }
    /* THEME LIGHT -- end*/

    /* THEME DARK -- start*/
    .dark {
      --text-color: #fff;
      --text-surah-header-color: #fff;
      --link-color: #3671e6;
      --bg-color: #071e3d;
      --bg-card-color: #1f4287;
      --bg-card-darken-color: #040c0f;
      --bg-body-color: #071e3d;
    }
    /* THEME DARK -- end*/

    /* THEME NATURE -- start*/
    .nature {
      --text-color: #333;
      --text-surah-header-color: #028e71;
      --link-color: #028e71;
      --bg-color: #02c39a;
      --bg-card-color: #02c39a;
      --bg-card-darken-color: #028e71;
      --bg-body-color: #a3e9da;
    }
    /* THEME NATURE -- end*/

    /* THEME SEPIA -- start*/
    .sepia {
      --text-color: #FFF;
      --text-surah-header-color: #5f4938;
      --link-color: #5f4938;
      --bg-color: #d0bc91;
      --bg-card-color: #8a6c44;
      --bg-card-darken-color: #5f4938;
      --bg-body-color: #c6c4bc;
    }
    /* THEME NATURE -- end*/
  </style>
</head>

<body {{ BODY_ATTRS }} class="dark">
  <script>
    (function () {
      window.__theme_colors = { 'dark': '#1f4287', 'light': '#f6f7f8', 'nature': '#02c39a' };
      window.__onThemeChange = function () { };
      function setTheme(newTheme) {
        window.__theme = newTheme;
        preferredTheme = newTheme;
        document.body.className = newTheme;
        document.querySelector('meta[name="theme-color"]').setAttribute("content", window.__theme_colors[newTheme]);
        window.__onThemeChange(newTheme);
      }
      var preferredTheme;
      try {
        preferredTheme = localStorage.getItem('theme');
      } catch (err) { }
      window.__setPreferredTheme = function (newTheme) {
        setTheme(newTheme);
        try {
          localStorage.setItem('theme', newTheme);
        } catch (err) { }
      }
      var darkQuery = window.matchMedia('(prefers-color-scheme: dark)');
      darkQuery.addListener(function (e) {
        window.__setPreferredTheme(e.matches ? 'dark' : 'light')
      });
      setTheme(preferredTheme || (darkQuery.matches ? 'dark' : 'light'));
    })();
  </script>
  {{ APP }}
</body>

</html>
