<template>
  <div class="container tahlil">
    <div class="wrapper">
      <div class="wrapper__item">
        <div v-for="item in tahlilData" :key="item.id" class="item">
          <div class="item__title">
            {{ item.title }}
          </div>
          <div class="collapsible">
            <div class="arabic font-arabic">
              {{ item.arabic }}
            </div>
            <div class="translation">
              {{ item.translation }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footnote">
      Sumber bacaan tahlil <a :href="tahlilSource" target="_blank" rel="noopener noreferrer">islam.nu.or.id</a>
    </div>
    <div class="footnote">
      Dibuat oleh <a href="https://mazipan.space/" target="_blank" rel="noopener noreferrer">Irfan Maulana</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { State, Mutation } from 'vuex-class'
import { AppConstant, META_TITLE_TAHLIL, META_DESC_TAHLIL } from '~/constant'

interface expandedData {
  id: number;
}

@Component({
  async asyncData () {
    const resp = await import('~/static/data/tahlil.json')
    return {
      tahlilData: resp.data,
      tahlilSource: resp.source
    }
  }
})
export default class TahlilPage extends Vue {
  @State settingActiveTheme;
  @Mutation setHeaderTitle;
  @Mutation setPage;

  get metaHead () {
    return {
      title: META_TITLE_TAHLIL,
      meta: [
        { hid: 'description', name: 'description', content: META_DESC_TAHLIL },
        { hid: 'og:title', property: 'og:title', content: META_TITLE_TAHLIL },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: META_TITLE_TAHLIL
        },
        {
          hid: 'theme-color',
          name: 'theme-color',
          content: this.settingActiveTheme.bgColor
        }
      ],
      link: [
        { rel: 'canonical', href: `${AppConstant.PATH}tahlil/` }
      ]
    }
  }

  head () {
    return this.metaHead
  }

  mounted () {
    this.setHeaderTitle('Tahlil')
    this.setPage('tahlil')
  }

  activated () {
    this.setHeaderTitle('Tahlil')
    this.setPage('tahlil')
  }
}
</script>

<style lang="scss" scoped>
.item {
  text-decoration: none;
  border-radius: 0.25em;
  padding: 1em;
  font-size: 1.3rem;
  width: 100%;
  margin: 1em 0 0 0;
  background: var(--bg-card-color);
  color: var(--text-color);

  &__title {
    font-size: 1rem;
  }
}
.collapsible {
  margin-top: 1em;
  color: var(--text-color);
}
.arabic {
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
}
.translation {
  margin-top: 2em;
  font-size: 0.9rem;
  width: 100%;
  font-style: italic;
  text-align: left;
}
</style>
