@font-face {
  font-family: "lpmq";
  src: url(/fonts/lpmq.otf) format("opentype");
  font-display: swap;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-body-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.font-arabic{
  font-family: "lpmq", Arial, sans-serif;
  line-height: 2;
}

.pointer{
  cursor: pointer;
}

.center {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.has-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.block_content {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 4px;
  font-size: 1rem;
  background: var(--bg-card-color);
  color: var(--text-color);
}

.tag_index {
  height: 30px;
  width: 50px;
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-card-darken-color);
  color: var(--text-color);
}

.skeleton {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeleton;
  animation-timing-function: linear;
  background: #F2F2F2;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
  &_row {
    height: 100px;
    width: 90%;
    margin: 1em auto;
    &--big {
      height: 150px;
    }
  }
}

.wrapper{
  width: 90%;
  margin: 1em auto;
}

#__layout{
  max-width: 500px;
  margin: 0 auto;
}
.text-left { text-align: left; }
.footnote {
  text-align: center;
  margin-top: 0.5em;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: var(--link-color);
  }
}
